.PictureCard__wrapper {
  width: 24%;
  margin: 10px 0;
  position: relative;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
}

.PictureCard__pic {
  width: 100%;
}

.PictureCard__remove {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
  background: lightcoral;
  border: none;
  padding: 0 7px;

  &:active, &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 1px -1px 1px rgba(230, 138, 110, .7);
  }

  &:after {
    content: "+";
    font-size: 22px;
    display: block;
    transform: rotate(45deg);
  }
}